html,
body {
  padding: 0;
  margin: 0;
  font-family: "Mulish", sans-serif;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  background-color: var(--bg-color, #ffffff);
  color: var(--text-color, #000000);
}

img {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.text-gray-800 {
  color: var(--text-gray-800, #000000); /* Default color for light mode */
}

.text-lightBlue {
  color: #0277DD; /* Preserve blue color */
}

